.form
  form#wot_form_custom1.pure-form.pure-form-stacked(action=current.form.action, method=current.form.method, autocomplete='off')
    fieldset
      label(for='message') Input
      input#message.pure-input-1(type="text" required="required" name="wot_string")
      input(type="hidden" name="wot_type" value=current.id)
      button#wot_send.pure-button.button-success(type='submit') Send

  form.pure-form.pure-form-stacked(action="", method="", novalidate='', autocomplete="off")
    fieldset
      label(for="wot_result") Output
      textarea(id='wot_result' class="pure-input-1" rows='3' onfocus='this.select();' onmouseup='return false;')
      a#wot_copy.pure-button.button-info(href='#') Copy To Clipboard
      h1#wot_img_subhead.subhead(style="display:none;") Loaded Image
      img#wot_img(width="100%")